<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>

        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>

            <p>Published: 1/11/2020</p>
            <h2><a href="">My first post</a></h2>

            <p>Fun with Django</p>

        </div>

        <div>

            <p>Published: 1/12/2020</p>
            <h2><a href="">My second post</a></h2>

            <p>Fun with Python</p>
            
        </div>

    </body>

</html>